<div class="container" fxLayout="column" fxLayoutAlign="center start">
    <h1>Nastavení uživatelů</h1>
  
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> přihlašovací jméno </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> jméno </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="sudo">
        <th mat-header-cell *matHeaderCellDef> admin </th>
        <td mat-cell *matCellDef="let element"> {{element.sudo | yesno}} </td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> práva </th>
        <td mat-cell *matCellDef="let element"> {{element.roles}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button (click)="onEdit(element)" matTooltip="editovat"><mat-icon>edit</mat-icon></button> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <a  mat-raised-button color="primary" routerLink="/users/new">vytvořit nového uživatele</a>
</div>