<div class="container" fxLayout="column" fxLayoutAlign="center center">
  <div>{{ ohtemplates | json }}</div>
  <table mat-table [dataSource]="calendars" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="span">
      <th mat-header-cell *matHeaderCellDef> span </th>
      <td mat-cell *matCellDef="let element"> {{element.span}} </td>
    </ng-container>

    <ng-container matColumnDef="day_begin">
      <th mat-header-cell *matHeaderCellDef> day_begin </th>
      <td mat-cell *matCellDef="let element"> {{element.day_begin | tstime:element.span}} </td>
    </ng-container>

    <ng-container matColumnDef="day_len">
      <th mat-header-cell *matHeaderCellDef> day_end </th>
      <td mat-cell *matCellDef="let element"> {{element.day_len | tstime:element.span:element.day_begin}} </td>
    </ng-container>

    <ng-container matColumnDef="week_days">
      <th mat-header-cell *matHeaderCellDef> week_days </th>
      <td mat-cell *matCellDef="let element"> {{element.week_days | weekDays}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="onEdit(element)"><mat-icon>edit</mat-icon></button> 
        <button mat-icon-button (click)="onEditOHT(element)"><mat-icon>update</mat-icon></button> 
        <button mat-icon-button (click)="onEditOH(element)"><mat-icon>schedule</mat-icon></button> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>