
<div class="toolbar mat-toolbar" fxLayout="row wrap" fxLayoutGap="20px" >
  <button *ngIf="showBack" class="item_b" mat-button color="primary"  (click)="goBack($event)">
      <mat-icon>arrow_back</mat-icon>
      zpět
  </button>
  <div>{{title}}</div>
  <ng-content></ng-content>
  <ng-container *ngIf="showEventClip && clip">
    <div class="spacer"></div>
    <div>
        <span> {{clip.event.event_name}} - {{clip.event.client.last_name}} </span>
        <button mat-icon-button (click)="onClearClip()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
  </ng-container>
  
</div>