
.toolbar {
    padding: 8px 16px;
    align-items: center;
    min-height: 64px;
    margin-bottom: 8px;
}

.spacer {
    flex: 1 1 auto;
}

.item {
    margin-right: 8px;
}
.item_b{
    margin-right: 16px;
}
