
.toolbar {
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    min-height: 48px;
    margin-bottom: 4px;
}

.spacer {
    flex: 1 1 auto;
}

.item {
    margin-right: 8px;
}
.item_b{
    margin-right: 16px;
}
