.container {
    max-width: 400px;
}

.full {
   height: 100%;
   width: 100%;
   cursor: pointer;
}
.red {
    border: 1px solid red; 
}
.selected {
    /* background-color: gray; */
    background-color: #673ab7;
    color: white;
}


.no-margin  {
    margin: 0;
}