<div class=" red">



<ng-template #daysHeaderTemplate>
    <mat-grid-list  class="graybg" gutterSize="2" cols="7" rowHeight="1em">
        <mat-grid-tile *ngFor="let name of dayNames">
            <div class="mat-caption">{{name}}</div>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<ng-template #dayTemplate let-day="day"> 
        <div class="mat-caption red if">{{day}}</div>
</ng-template>

<ng-template #blankDayTemplate> 
        <div class="mat-caption red if"> B </div>
</ng-template>

<ng-template #monthDaysTemplate let-days="days"> 
        <mat-grid-list gutterSize="4" cols="7" rowHeight="2em">
            <mat-grid-tile *ngFor="let day of days" class="red">
                    <ng-container *ngTemplateOutlet="day.blank ? blankDayTemplate : dayTemplate;context:{day:day.day}">
                    </ng-container>
            </mat-grid-tile> 
        </mat-grid-list>    
</ng-template>

<ng-template #monthHeaderTemplate let-month="month" let-year="year">
        <mat-grid-list  gutterSize="2" cols="7" rowHeight="2em">
            <mat-grid-tile colspan="5">
                <div class="mat-title nomargin">{{monthNames[month-1]}}</div>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                    <div class="mat-title nomargin">{{year}}</div>
            </mat-grid-tile>
        </mat-grid-list>
</ng-template>






<ng-container *ngTemplateOutlet = "monthHeaderTemplate; context:{year:monthPage.year, month:monthPage.month}">
</ng-container>
    
<ng-container *ngTemplateOutlet = "daysHeaderTemplate">
</ng-container>
    
<ng-container *ngTemplateOutlet = "monthDaysTemplate; context:{days:monthPage.days}">
</ng-container>


    
</div>