.maincont {
    padding: 5px;
}

.red {
    border: 1px solid red; 
}
.fill {
    width: 100%;
}

.if {
    width: 100%;
    height: 100%;
}

.graybg {
    background-color: lightgray;
}
.nomargin {
    margin: 0 0 0 0;
}

.daybox {
   cursor: pointer;
   border-radius: 10px;
   align-items: center;
   justify-content: center;
   display: flex;
}
.dayselected {
    background-color:#673ab7;
    color: #fff;
}

.rb {
    margin: 2px;
    background-color: lightgray;
    border-radius: 2px;
    cursor: pointer;
}