<ng-template #daycard let-day="day" let-month="month">
    {{day}}/{{monthNames[month]}} 
</ng-template>


<div class="container">
    <mat-grid-list gutterSize="1" cols="5" rowHeight="2em">
      <mat-grid-tile *ngFor="let name of dayNames">{{name}}</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list gutterSize="1" cols="5">
        <ng-container *ngTemplateOutlet="chip;context:t"></ng-container>
        <mat-grid-tile *ngFor="let day of days" class="selected">
            <ng-container *ngTemplateOutlet="daycard;context:day"></ng-container>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<p>{{diag}}</p>
