<mat-toolbar color="primary">
  <span>Toolbar!</span>
  <a *ngIf="isAuth" mat-button routerLink="/">Home</a>
  <a *ngIf="isAuth" mat-button routerLink="/main">Main</a>
  <a *ngIf="isAuth" mat-button routerLink="/users">Users</a>
  <span class="spacer"></span>
  <span *ngIf="dev_mode">DEV MODE</span>
  <a mat-button *ngIf="!isAuth" routerLink="/login">Login</a>
  <span *ngIf="isAuth">{{login}}</span>
  <button mat-icon-button *ngIf="isAuth" (click)="onLogout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
  
</mat-toolbar>