.container {
    padding: 10px;
}
.loading {
    position: absolute;
}

.red {
    border: 1px solid red;
}
.time {
    margin: 2px;
    padding-right: 10px;
}

.name {
    margin: 2px;
    padding-left: 10px;
}


.leftpanel {
    margin-top: 0px;
    max-width: 250px;
    min-width: 100px;
}

.rightpanel {
    min-width: 400px;
    overflow-x: auto;
}
