

<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading"></mat-progress-bar>


<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h1>Úprava události "{{event?.name}}" kalendáře "{{calendar?.name}}" </h1>
   
    <app-calendar-event-editor *ngIf="calendar && event && event_types" [calendar]="calendar" [event_types]="event_types" [event]="event" (saved)="goBack()"></app-calendar-event-editor>
      
    <button mat-raised-button color="primary" (click)="goBack()">zpět</button>
</div>
