
<ng-template #chip let-begin="begin" let-len="len">
   {{begin | tstime:calendar.span:0:calendar.day_offset}} - {{len | tstime:calendar.span:begin:calendar.day_offset}}
  
</ng-template>

  


<app-sub-menu title="Šablona provozní doby" (back)="goBack()" showBack="true">
        <app-calendar-chip *ngIf="calendar" [calendar_id]="calendar._id"></app-calendar-chip>
</app-sub-menu>


<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div *ngIf="template_groups" fxLayout="row wrap" fxLayoutGap="10px" fxFlexFill>
        <mat-card fxFlex="1 0 auto">
            <mat-card-header>
                <mat-card-title>Aktuální šablona pro dny v týdnu</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngFor="let group of template_groups">  
      
                    <p>{{group.week_day | weekDay}}</p>
              
                    <mat-chip-list> 
                      <mat-chip *ngFor="let t of group.templates" (removed)="onDeleteOHT(t)"> 
                        <ng-container *ngTemplateOutlet="chip;context:t"></ng-container>
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list> 
                   
                  </ng-container>
            </mat-card-content>
        </mat-card>

      
     
        <app-calendar-oht-editor *ngIf="calendar" [calendar]="calendar" (saved)="getCalendarWithOHTs()"></app-calendar-oht-editor>

      
    </div>
</div>
