

<app-sub-menu title="Událost" (back)="goBack()" showBack="true" showEventClip="true">
    <ng-container *ngIf="calendar && event">
        <app-calendar-event-chip [calendar_event_id]="event._id"></app-calendar-event-chip>
        <app-calendar-chip  [calendar_id]="calendar._id"></app-calendar-chip>
        <button mat-raised-button  (click)="onDelete()">smazat</button>
        <button mat-raised-button  (click)="onPrint()">tisk</button>
        <button mat-raised-button  (click)="onCut()">přesunout</button>
    </ng-container>
</app-sub-menu>
    

<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading"></mat-progress-bar>

<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <app-calendar-event-editor *ngIf="calendar && event && event_types" [calendar]="calendar" [event_types]="event_types" [event]="event" [free_slots]="free_slots" [start_slots]="start_slots" (saved)="goBack()"></app-calendar-event-editor>
</div>

<app-diag>{{diag}}</app-diag>
