

<app-sub-menu title="Nová událost" (back)="goBack()" showBack="true" showEventClip="true">
        <ng-container *ngIf="calendar && day">
            <app-calendar-chip  [calendar_id]="calendar._id"></app-calendar-chip>
            <div>{{day | czdate}}</div>
        </ng-container>
</app-sub-menu>
    

<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <app-calendar-event-editor *ngIf="calendar && event_types" [calendar]="calendar" [event_types]="event_types" [event]="null" [new_mode]="true" [new_time]="time" [new_day]="day" [free_slots]="free_slots" (saved)="goBack()"></app-calendar-event-editor>
</div>
