
<app-sub-menu [title]="cut_mode?'Přesun události':'Kopie události'" (back)="goBack()" showBack="true">
        <ng-container *ngIf="calendar_id && day">
            <app-calendar-chip  [calendar_id]="calendar_id"></app-calendar-chip>
            <div>{{day | czdate}}</div>
        </ng-container>
</app-sub-menu>


<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <app-calendar-event-editor *ngIf="calendar && event_types && clip_event && ready" [calendar]="calendar" [event_types]="event_types" [event]="clip_event" [new_mode]="true" [cut_id]="clip_event_cut_id" [new_time]="time" [new_day]="day" [free_slots]="free_slots" [start_slots]="start_slots" [extra]="extra" (saved)="goBack()"></app-calendar-event-editor>
</div>
