
<app-sub-menu title="Události kalendáře" (back)="goBack()" showBack="false" showEventClip="true">
    <ng-container *ngIf="calendar">
            <app-calendar-chip  [calendar_id]="calendar._id"></app-calendar-chip>
            <button mat-raised-button  (click)="onPrint()">tisk</button>
            <ng-container *ngIf="allow_extra">
                <mat-slide-toggle *appAccess="'edit'"
                    [checked]="extra" (change)="onExtra($event)">
                    <span class="mat-body">extra</span>
                </mat-slide-toggle>
            </ng-container>
    </ng-container>
</app-sub-menu>

<ng-template #xxx let-slot='slot'>
        <div *ngIf="(extra && slot.extra_slot) || (!extra && slot.normal_slot)" fxLayout="row"  class="boxitem">
             <div class="time mat-body"> {{slot.slot | tstime:calendar.span }} </div> 
             <div class="slot mat-body" fxFlex="1 1 auto" fxLayout="row"> 
                <div *ngIf="slot.event && slot.event_leg==0" class="type_color"  [ngStyle]="{'background-color': slot.event.color}">&nbsp;</div>         
                <div  class="name" fxFlex="1 1 auto" (click)="onSlot(slot)">
                    <span *ngIf="slot.event_leg==0"> {{slot.event?.client.last_name}} {{slot.event?.client.first_name}} </span>
                </div>
                <div *ngIf="slot.event && slot.event_leg==0"   class="actions mat-body"> 
                        <button *appAccess="'edit'" mat-icon-button  class="action_b" (click)="onSlotEdit(slot)" >
                                <mat-icon>edit</mat-icon>
                        </button>
                        <button *appAccess="'edit'" mat-icon-button   class="action_b" (click)="onSlotMove(slot)">
                                <mat-icon>low_priority</mat-icon>
                        </button>
                </div>
            </div>
           
        </div>
</ng-template>

<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading"></mat-progress-bar>

<div class="container" >
    <div *ngIf="slots" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" >


        <app-daycard class="daypanel" [date]="day"></app-daycard>

        <div class="mainpanel red" fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
          
            <div class="eventpanel red mat-elevation-z8">
                <ng-container *ngFor="let slot of slots">
                    <ng-content *ngTemplateOutlet='xxx; context:{slot:slot}'></ng-content>
                </ng-container>
            </div>
            <div *ngIf="selected_event" class="previewpanel mat-elevation-z8 red">
                    <app-calendar-event-view  [event]="selected_event" [calendar]="calendar" (close)="selected_event=null"></app-calendar-event-view>
            </div>
        </div>

        <div class="navipanel red">
            <div class="mat-elevation-z8">
                    pravy kalendar na volbu dne 
            </div>
            <div>&nbsp;</div>
            <div class="mat-elevation-z8">
                    prehled volna v jinych
            </div>
        </div>
    </div>
    
</div>
<app-diag>{{diag}}</app-diag>