
<app-sub-menu title="Události kalendáře" (back)="goBack()" showBack="true"></app-sub-menu>

<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading"></mat-progress-bar>

<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h1>{{calendar?.name}}/{{(calendar?.location_id|location)?.name}}</h1>
    <app-calendar-event-clip></app-calendar-event-clip>
    <div *ngIf="slots" fxLayout="row wrap" fxLayoutAlign="start start" >
        <div class="leftpanel" fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <app-daycard [date]="day"></app-daycard>
            <button mat-raised-button color="primary" (click)="onPrint()">tisk</button>
            <button mat-raised-button color="primary" (click)="onNextDay()">dalsi den</button>
            <button mat-raised-button color="primary" (click)="onPrevDay()">predchazejici den</button>
        </div>
        <div class="rightpanel mat-elevation-z8" fxFlex="5 1 auto">
            <div fxLayout="row" *ngFor="let slot of slots" class="boxitem">
                <div class="time mat-title"> {{slot.slot | tstime:calendar.span }} </div> <div class="name mat-title" fxFlex="1 1 auto" (click)="onSlot(slot)"> {{slot.event?.client.last_name}} {{slot.event?.client.first_name}}</div>
            </div> 
        </div>
      </div>
</div>