<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h1>PASTE událost do kalendáře "{{calendar?.name}}", {{day | czdate}} </h1>
    <app-calendar-event-clip></app-calendar-event-clip> 
    <app-calendar-event-editor *ngIf="calendar && event_types && clip" [calendar]="calendar" [event_types]="event_types" [event]="null" [new_mode]="true" [new_time]="time" [new_day]="day" [free_slots]="free_slots" (saved)="goBack()"></app-calendar-event-editor>
 
    <button mat-raised-button color="primary" (click)="goBack()">zpět</button>
</div>
