

<ng-template #chip let-begin="begin" let-len="len">
    {{begin | tstime:calendar.span}} - {{len | tstime:calendar.span:begin}}  
</ng-template>

<app-sub-menu title="Provozní doba" (back)="goBack()" showBack="true"></app-sub-menu>

<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h1>{{calendar?.name}}/{{(calendar?.location_id|location)?.name}}</h1>
    <div *ngIf="oh_groups" fxLayout="row wrap" fxLayoutGap="10px" fxFlexFill>
        
        <app-daypicker-panel [first_day]="first_day" [selected_day]="first_day" [selected_week]="first_day" (select)="onChangeDay($event)" (move)="onMoveCal($event)"></app-daypicker-panel>
        <mat-card fxFlex="1 0 auto">
            <mat-card-header>
                <mat-card-title>Aktuální provozní doba pro zvolený týden</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ng-container *ngFor="let ohg of oh_groups">  
          
                    <p>{{ohg.day | date }}</p>
              
                    <mat-chip-list> 
                      <mat-chip *ngFor="let oh of ohg.ohs" (removed)="onDeleteOH(oh)"> 
                        <ng-container *ngTemplateOutlet="chip;context:oh"></ng-container>
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </mat-chip-list> 
                    
                  </ng-container>
            </mat-card-content>
        </mat-card>

      
     
        <app-calendar-oh-editor *ngIf="calendar" [calendar]="calendar" [day_list]="day_list" (saved)="getCalendarWithOHs()"></app-calendar-oh-editor>
      
    </div>
</div>

  


 
   
 
