.container {
    padding: 10px;
}
.loading {
    position: absolute;
}

.red {
    border: 1px solid red;
}
.time {
    margin: 2px;
    padding-right: 10px;
    border-right: solid 1px #ccc;
}

.name {
    margin: 2px;
    padding-left: 10px;
    cursor: pointer;
}


.leftpanel {
    margin-top: 0px;
    max-width: 250px;
    min-width: 100px;
}

.rightpanel {
    min-width: 400px;
    overflow-x: auto;
    padding: 5px;
}

.boxitem {
    border-bottom: solid 1px #ccc;
}
.boxitem:last-child {
    border: none;
}