.container {
    padding: 10px;
}
.loading {
    position: absolute;
}

.red {
    border: 1px solid red;
}
.time {
    margin: 2px;
    padding-right: 10px;
    border-right: solid 1px #ccc;
}
.type_color {
    width: 1.5em;
    margin: 2px;
}

.name {
    margin: 2px;
    padding-left: 10px;
}
.actions {
    margin: 2px;
    padding-right: 5px;
}
.slot {
    cursor: pointer;
}
.slot:hover {
    background-color: lightgray;
}


.leftpanel {
    margin-top: 0px;
    max-width: 250px;
    min-width: 100px;
}

.rightpanel {
    min-width: 400px;
    overflow-x: auto;
    padding: 5px;
}

.boxitem {
    border-bottom: solid 1px #ccc;
}
.boxitem:last-child {
    border: none;
}

.action_b {
    line-height: 16px;
    height:16px; 
    width:16px;
    font-size:16px;
    margin-left: 5px;
    margin-right: 5px;
}