.loading {
    position: absolute;
}

.container {
    padding: 10px;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}


.rightpanel {
    margin-top: 0px;
    max-width: 400px;
    min-width: 200px;
}

.leftpanel {
    min-width: 400px;
    overflow-x: auto;
}

.daypanel {
    min-width: 100px;
    max-width: 250px;
}

.calstatusbox {
    width: 75%;
    height: 75%;
    background-color: lightgrey; 
    cursor: pointer;
}
.any_ohs {
    background-color: lightgreen;
}
.busy {
    background-color: lightcoral; 
}
.nomargin {
    margin: 0px;
}