.loading {
    position: absolute;
}

.container {
    padding: 10px;
}

.red {
    border: 1px solid red;
}
.rightpanel {
    max-width: 400px;
    min-width: 200px;
}

.leftpanel {
    min-width: 400px;
    overflow-x: auto;
}