<app-sub-menu title="Plánování otevírací doby">
   <nav *ngIf="loc_ids  && loc_ids.length>1" mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let loc_id of loc_ids" class="tablink" [active]="pref_loc_id == loc_id" (click)="onLocation(loc_id)">
          {{(loc_id | location)?.name}} 
        </a>
    </nav>
</app-sub-menu>

<mat-progress-bar *ngIf="loading" mode="indeterminate" class="loading"></mat-progress-bar>

<div class="container">
  <div *ngIf="grid" fxLayout="row wrap" fxLayoutAlign="start start">
    <div class="leftpanel" fxFlex="10 1 auto">
      <div fxLayout="row">
        <div class="daypanel" fxFlex="1 0 auto" fxLayoutAlign="center center">&nbsp;</div>
        <mat-grid-list fxFlex="10 1 auto" [cols]="grid.calendars.length" rowHeight="70px">
            <mat-grid-tile *ngFor="let cal of grid.calendars">
              <div fxFlexFill fxLayout="column" fxLayoutAlign="start center"> 
                  <div class="mat-body-strong nomargin" >{{cal.name}}</div>
                  <div class="mat-small nomargin">{{(cal.location_id | location)?.name}}</div>
              </div>
            </mat-grid-tile>
        </mat-grid-list> 
      </div>
      <ng-container *ngFor="let week of grid.weeks; let last = last;">
        <ng-container *ngFor="let day of week">
          <div fxLayout="row">
            <div class="daypanel" fxFlex="1 0 auto" fxLayoutAlign="center center"> 
              <app-daycard  small [date]="day.day"></app-daycard>
            </div>
            <mat-grid-list  fxFlex="10 1 auto" [cols]="grid.calendars.length" rowHeight="2em">
                <mat-grid-tile *ngFor="let status of day.statuses"> 
                    <app-calendar-day-box class="calstatusbox" [status]="status"  [plan_mode]="true" (click)="onSelect(status)">
                      
                    </app-calendar-day-box>
                </mat-grid-tile> 
            </mat-grid-list>  
          </div>
        </ng-container>
        <div *ngIf="!last" class="separator">  </div>
      </ng-container>
    </div>
    <div class="rightpanel" fxFlex="1 0 auto">
        <app-daypicker2 [dual]="true" [first_day]="first_day" [selected_day]="selected_day"  (select)="onChangeDay($event)" (move)="onMoveCal($event)"></app-daypicker2>
    </div>
  </div>
</div>

