.loading {
    position: absolute;
}

.container {
    padding: 10px;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}


.rightpanel {
    margin-top: 0px;
    max-width: 400px;
    min-width: 200px;
}

.leftpanel {
    min-width: 400px;
    overflow-x: auto;
}

.daypanel {
    min-width: 100px;
    max-width: 250px;
}

.calstatusbox {
    width: 90%;
    height: 80%;
}
.nomargin {
    margin: 0px;
}