
<ng-template #smallTemplate>
  <div class="smallbox mat-caption no-margin"> 
      {{ date | czdate:"C"}}
  </div>
</ng-template>

<div *ngIf="!small; else smallTemplate" class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="center stretch">
  <div fxFlex="70%" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30%" fxLayoutAlign="center center" class="mat-caption">{{week_day}}</div>
    <div fxFlex="70%" fxLayoutAlign="center center" class="mat-title no-margin">{{day}}</div>
  </div>
  <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-caption "> {{month}}  </div> 
  </div>
</div>
  

 