

   <div class="box mat-elevation-z2" fxLayout="column" fxLayoutAlign="center strech">
      <div fxFlex="70%" fxLayout="row" fxLayoutAlign="center center">
       <div fxFlex="30%" fxLayoutAlign="center center" class="mat-caption">{{week_day}}</div>
       <div fxFlex="70%" fxLayoutAlign="center center" class="mat-title no-margin">{{day}}</div>
     </div>
     <div fxFlex="30%" fxLayout="column" fxLayoutAlign="center center">
       <div class="mat-caption "> {{month}}  </div> 
      </div>
    </div>
