.calstatusbox {
    width: 100%;
    height: 100%;
   
}
.free {
    background-color: lightgreen;
    cursor: pointer;
}

.busy {
    background-color: lightcoral; 
    cursor: pointer;
}

.extra {
    background-color: lightsalmon; 
    cursor: pointer;
}

.off {
    color: gray;
}