
<ng-container [ngSwitch]="variant">
  <div *ngSwitchCase="'free'" class="calstatusbox free mat-raised-button" fxLayoutAlign="center center">
    volno
  </div>

  <div *ngSwitchCase="'extra_free'" class="calstatusbox extra mat-raised-button" fxLayoutAlign="center center">
      jen EXTRA
  </div>
  
  <div *ngSwitchCase="'off'" class="calstatusbox off mat-small" fxLayoutAlign="center center">
     zavřeno
  </div>

  <div *ngSwitchCase="'busy'" class="calstatusbox busy mat-raised-button" fxLayoutAlign="center center">
      obsazeno
  </div>
</ng-container>


