
<mat-card class="form-container">
    <form [formGroup]="eventForm"  #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <mat-card-header>
          <ng-template #newevent>
              <mat-card-title> Nova událost</mat-card-title>
          </ng-template>
          <mat-card-title *ngIf="event; else newevent">Události {{event?.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field>
            <mat-label>Jméno</mat-label>
            <input matInput type="text" id="name" formControlName="name"> 
        </mat-form-field>
    
        
        <mat-form-field>
            <mat-label>Čas</mat-label>
            <input matInput [appTimepicker]="picker1" [timeSpan]="calendar.span" [timeLen]="calendar.day_len" [timeBegin]="calendar.day_begin" id="begin" formControlName="begin">
            <app-timepicker-toggle matSuffix [for]="picker1"></app-timepicker-toggle>
            <app-timepicker #picker1></app-timepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Typ události</mat-label>
            <mat-select   formControlName="event_type_id">
                <mat-option *ngFor="let et of event_types" [value]="et._id">
                    {{et.name}}
                  </mat-option>
            </mat-select>
        </mat-form-field>

     

        <button *ngIf="!submitted" type="submit" mat-raised-button color="primary"  [disabled]="!eventForm.valid">uložit</button>
        <div *ngIf="error_msg" class="red mat-body-strong">{{error_msg}}</div>
      </mat-card-content>
    </form>
</mat-card>
<div> diag: {{eventForm.value | json}}</div>
<div> event: {{event | json}}</div>

