
<mat-card class="form-container">
    <form [formGroup]="eventForm"  #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <mat-card-header>
          <ng-template #newevent>
              <mat-card-title> Nova událost</mat-card-title>
          </ng-template>
          <mat-card-title *ngIf="event; else newevent">Události {{event?.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field>
            <mat-label>Název</mat-label>
            <input matInput type="text" id="name" formControlName="name"> 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Barva</mat-label>
            <input matInput type="text" id="color" formControlName="color"> 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Pocatek</mat-label>
            <input matInput type="number" id="begin" formControlName="begin"> 
        </mat-form-field>      
  
        <mat-form-field>
          <mat-label>Délka (v časovkách kalendáře)</mat-label>
          <input matInput type="number" id="len" formControlName="len"> 
        </mat-form-field>


        <button *ngIf="!submitted" type="submit" mat-raised-button color="primary"  [disabled]="!eventForm.valid">uložit</button>
        <div *ngIf="error_msg" class="red mat-body-strong">{{error_msg}}</div>
      </mat-card-content>
    </form>
</mat-card>

