
<mat-card *ngIf="all_locs" class="form-container">
    <form [formGroup]="calendarForm"  (ngSubmit)="onSubmit()">
      <mat-card-header>
          <ng-template #newcal>
              <mat-card-title> Nový kalendář </mat-card-title>
          </ng-template>
          <mat-card-title *ngIf="calendar; else newcal">{{calendar?.name}}/{{(calendar.location_id|location)?.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
        <mat-form-field>
            <mat-label>Název</mat-label>
            <input matInput type="text" id="name" formControlName="name"> 
        </mat-form-field>



        <mat-form-field>
            <mat-label>Pobočka</mat-label>
            <mat-select placeholder="pobočka"  formControlName="location_id">
                <mat-option *ngFor="let loc of all_locs" [value]="loc._id">
                    {{loc.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Časová jednotka</mat-label>
          <input matInput type="number" id="span" formControlName="span"> 
        </mat-form-field>

        <mat-form-field>
            <mat-label>Základní délka časovek</mat-label>
            <input matInput type="number" id="cluster_len" formControlName="cluster_len"> 
          </mat-form-field>
  
        <mat-form-field>
          <mat-label>Minimální začátek (v jednotkách času od 00:00)</mat-label>
          <input matInput type="number" id="day_begin" formControlName="day_begin"> 
        </mat-form-field>

        <mat-form-field>
          <mat-label>Maximální počet jednotek času</mat-label>
          <input matInput type="number" id="day_len" formControlName="day_len"> 
        </mat-form-field>


        <mat-form-field>
          <mat-label>Časový posun (v minutách)</mat-label>
          <input matInput type="number" id="day_offset" formControlName="day_offset"> 
        </mat-form-field>

        <mat-form-field>
          <mat-label>provozní dny</mat-label>
          <mat-select placeholder="week_days"  formControlName="week_days" multiple>
              <mat-option *ngFor="let week_day of week_days" [value]="week_day.value">
                  {{week_day.viewValue}}
                </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>info v tisku</mat-label>
            <textarea matInput rows='5' type="text" id="print_info" formControlName="print_info"> </textarea>
        </mat-form-field>


        <section *ngIf="calendar" class="section">
            <mat-checkbox class="check" id="archived" formControlName="archived">Archivovaný</mat-checkbox>
        </section>

        <button *ngIf="!submitted" type="submit" mat-raised-button color="primary"  [disabled]="!calendarForm.valid">uložit</button>
        <div *ngIf="error_msg" class="red mat-body-strong">{{error_msg}}</div>
      </mat-card-content>
    </form>
</mat-card>

