
<div fxLayout='row'>
        <div fxFlex="50%">
          <div>hodina</div>
          <button mat-button *ngFor="let hour of hours" [color]="selected_hour==hour.value?'primary':'basic'">
            {{hour.viewValue}} 
          </button>  
        </div>
        <div fxFlex="50%">
          <div>minuta</div>
          <button mat-button *ngFor="let minute of minutes" [color]="selected_minute==minute.value?'primary':'basic'">
            {{minute.viewValue}} 
          </button>  
        </div>
</div>   
 
<div>card content {{selected}} = {{selected_hour}}:{{selected_minute}}</div>
