<mat-card *ngIf="!timepicker.touchUi" class="app-timepicker-container">
    <mat-card-content>
        <app-timepicker-panel 
          [selected]="timepicker._selected" 
          [timeBegin]="timepicker.options.timeBegin" 
          [timeLen]="timepicker.options.timeLen" 
          [timeSpan]="timepicker.options.timeSpan"
          (close)="timepicker.close()"
          (new_value)="timepicker.select($event)"
          >
          
        </app-timepicker-panel>
    </mat-card-content>
</mat-card>

<app-timepicker-panel *ngIf="timepicker.touchUi" 
  [selected]="timepicker._selected" 
  [timeBegin]="timepicker.options.timeBegin" 
  [timeLen]="timepicker.options.timeLen" 
  [timeSpan]="timepicker.options.timeSpan"
  (close)="timepicker.close()"
  (new_value)="timepicker.select($event)"
  >
</app-timepicker-panel>
  